@import "./partials/linearsearch";
@import "./partials/binarysearch";

$light-color: rgb(224, 224, 224);
$dark-color: rgb(22, 22, 22);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: auto;
    font-family: 'Cinzel', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $dark-color;
    color: $light-color;
    font-weight: 100;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    letter-spacing: 0.15rem;
    line-height: 1.8rem;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 0.8rem;
    color: $light-color;
    background-color: $dark-color;
    letter-spacing: 0.05rem;
}

.btn:hover {
    filter: brightness(50%);
    transition: 0.4s;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

@keyframes animStar {
    0% {	
        transform: translateY(0px)
    }
    100% {	
        transform: translateY(-2000px)
    }
}

@function multiple-box-shadow($n) {
    $value: '#{random(2000)}px #{random(2000)}px #dbdbdb';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #dbdbdb';
    }
    @return unquote($value);
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

.MainBackground {
    background: radial-gradient(ellipse at bottom, #2a3c52 0%, #090A0F 100%);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    filter: brightness(90%);
    #stars {
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-small;
        animation: animStar 100s linear infinite;
        filter: blur(1px);
    }
    #stars:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-small;
    }
    #stars2 {
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
        animation: animStar 150s linear infinite;
        filter: blur(2px);
    }
    #stars2:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
    }
    #particles-js {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

a, a:link {
    text-decoration: none;
    color: $light-color;
}

h1, li {
    cursor: default;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

::-webkit-scrollbar-thumb:hover {
    display: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Header {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    h1 {
        position: absolute;
        top: 50%;
        width: 100%;
        font-size: 2.6rem;
        text-align: center;
        transform: translate(0, -50%);
        line-height: 3rem;
        animation: 1.9s cubic-bezier(0, 0.7, 0.58, 1.0) 0s 1 slideDown;
    }
    .header-svg {
        position: relative;
        display: flex;
        justify-content: center;
        z-index: -1;
        #header-svg-1 {
            z-index: -1;
        }
        #header-svg-1-a {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            z-index: -2;
        }
    }
}

.HeaderDeco {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
    .header-svg-2 {
        margin-right: 600px;
        animation: 1.5s cubic-bezier(0, 0.7, 0.58, 1.0) 0s 1 blink, 2.6s cubic-bezier(0, 0.7, 0.58, 1.0) 0s 1 slideLeft; 
    }
    .header-svg-3 {
        animation: 1.5s cubic-bezier(0, 0.7, 0.58, 1.0) 0s 1 blink, 2.6s cubic-bezier(0, 0.7, 0.58, 1.0) 0s 1 slideRight; 
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100px);
        opacity: 0%;
    }
}

@keyframes slideLeft {
    0% {
        transform: translate(200px, 0);
    }
}

@keyframes slideRight {
    0% {
        transform: translate(-200px, 0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(45deg);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    19% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    29% {
        opacity: 0.2;
    }
    30% {
        opacity: 0;
    }
    59% {
        opacity: 0;
    }
    60% {
        opacity: 0.6;
    }
    69% {
        opacity: 0.6;
    }
    70% {
        opacity: 0;
    }
    79% {
        opacity: 0;
    }
    80% {
        opacity: 0.8;
    }
    89% {
        opacity: 0.8;
    }
    90% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
}

@keyframes slideUp {
    0% {
        transform: translate(0, 200px);
    }
}

.NavigationBarInner {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10;
    top: 3%;
    ul {
        width: 100%;
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        li {
            width: auto;
            border-bottom: 2px $light-color solid;
            border-top: 2px $light-color solid;
            padding-bottom: 0.3rem;
            padding-top: 0.3rem;
            .hitBox {
                transition: 2s;
                p {
                    font-size: 0.9rem;
                    letter-spacing: 0.054rem;
                    text-align: center;                    
                    z-index: 4;
                    padding: 0.1rem 0.3rem;
                }
                .dropdown-children {    
                    height: 0;
                    overflow: hidden;
                    transition: height ease 0.6s;
                    display: grid;
                    z-index: 4;
                    a {
                        font-size: 0.8rem;
                        letter-spacing: 0.015rem;
                        margin: 0.3rem 0.3rem;
                        text-align: center;
                        padding-left: 0.3rem;
                        padding-right: 0.3rem;
                    }
                    a:hover {
                        transition: 0.4s;
                    }
                    a::before {
                        content: '';
                        border-left: 2px solid $light-color;
                        border-right: 2px solid $light-color;
                        position: absolute;
                        opacity: 0;
                        transition: all 0.3s;
                        width: inherit;
                        height: inherit;
                    }
                    a:hover::before {
                        opacity: 1;
                        transition: 0.2s;
                        transform: scale(0.1, 1);
                    }
                }
            }
        }
    }
}

.dark-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0%;
    left: 0%;
    background: linear-gradient(90deg, rgba(22,22,22,0.92) 0%, rgba(22,22,22,0.92) 100%);
    opacity: 0;
    transition: opacity ease 0.70s;
}
.show {
    opacity: 1;
}

.rotate-45 {
    transform: rotate(45deg);
    transition: 0s;
}

.Credits {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 2%;
    z-index: 2;
    animation: 2.5s cubic-bezier(0, 0.7, 0.58, 1.0) 0s 1 slideUp, 6.5s cubic-bezier(0, 0.7, 0.58, 1.0) 0s 1 fadein;
    .link-wrap {
        display: flex;
        justify-content: center;
        text-align: center;
        a {
            letter-spacing: 0.07rem;
            margin-left: 12px;
            border-bottom: 2px $light-color solid;
            height: 30px;
        }
        .git-svg {
            width: 1.7rem;
            height: 28px;
            filter: invert(80%);
        }
    }
    p {
        width: 100%;
        font-size: 0.7rem;
        letter-spacing: 0.08rem;
        text-align: center;
    }
}

.Search {
    width: 100%;
    height: auto;
    overflow: hidden;
    .displayArray {
        width: 60%;
        height: 70%;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
        text {
            color: $light-color;
        }
    }
    .terminal {
        width: 35%;
        height: 70%;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        font-family: monospace;
        font-weight: 100;
        font-size: 0.8rem;
        letter-spacing: 0.03rem;
        line-height: 0.9rem;
        padding: 10px;
        overflow: scroll;
        //z-index: 12;
        opacity: 1;
        background-color: #000;
        border: 3px solid #fff;
        animation: 1.9s cubic-bezier(0, 0.7, 0.58, 1.0) 0s 1 slideUpFade;
        .blinkingCursor {
            width: 8px;
            height: 15px;
            background-color: $light-color;
            display: inline-block;
            vertical-align: middle;
            animation: 1s cursorBlink step-end infinite;
        }
        #terminal-clear-message {
            color:rgba(224, 224, 224, 0.685);
        }
    }
    .inputwrapper {
        z-index: 7;
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 20px;
        display: flex;
        padding: 0 50px;
        justify-content: space-between;
        .numberBoxSearch,
        .randomGenerateInput {
            input[type=number] {
                color: rgb(224, 224, 224);
                padding: 8px 8px;
                margin: auto auto;
                border: 3px solid rgb(255, 255, 255);
                letter-spacing: 0px;
                width: 20vw;  
            }
        } 
        .textBoxSearch {
            flex-grow: 0;
            input[type=text] {
                color: rgb(224, 224, 224);
                padding: 8px 8px;
                margin: auto auto;
                border: 3px solid rgb(255, 255, 255);
                letter-spacing: 0px;
                width: 25vw;
            }
        }
        button {
            background-color: $dark-color;
            border: none;
            border: 3px solid rgb(255, 255, 255);
            width: 15vw;
            font-size: 0.8rem;
            animation: 1.9s cubic-bezier(0, 0.7, 0.58, 1.0) 0s 1 slideUp;
            &:hover {
                filter: brightness(80%);
            }
            &:active {
                filter: blur(2px);
            }
        }
    }
}

@keyframes cursorBlink {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: $light-color;
    }
}

@keyframes slideUpFade {
    0% {
        opacity: 0;
        transform: translate(200px, -50%);
    }
}


